.rbc-header {
    text-align: center;
    background: $header-bg-color;
    color: $header-color;
    

    &--big {
        height: 150px;
    }
   
}

.playdates {
    color: #1db954;;
    background-color: 191414;
    padding-top: 5px;
    
    }

    .stronglogo{
        font-weight: 100px;
    }
   
