.day {
    &__header {
        background: $day-header-bg-color;
        color: white;
        border-right: 1px solid $main-border-color;

        > span {
            display: block;
            text-align: center;
        }

        &--important {
            font-size: 30px;
        }
    }
}

@media (max-width: 1024px) {
    .day {
        &__header {
            height: 100px;
        }

        &__details {
            height: 100px;

            .rbc-slot {
                &:not(.slot--inactive) {
                    height: 100px;
                }

                &__title {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .day {
        &__header {
            height: 100px;
        }

        &__details {
            height: 100px;

            .rbc-slot {
                &:not(.slot--inactive) {
                    height: 100px;
                }

                &__title {
                    font-size: 25px;
                }
            }
        }
    }
}

.app-wrapper {
    float: none;
    margin: 0 auto;
}
.album {
    transition: all 0.4s ease-out;
    margin: 10px 0;
    cursor: pointer;
}
.album img {
    width: auto;
    height: 116px;
}
.playing {
    opacity: 0.2;
}

.container{
    border-style: solid;
	border-width: 1px;
    border-color: #62D36E;
    margin: 0 auto;
}

.yearsago{
    color: #62D36E;
}