@import url('https://fonts.googleapis.com/css?family=Montserrat:100');


.content__header {
    height: 40px;
    border-bottom: 1px solid #1db954;
    padding: 5px 0px 5px 10px;
    line-height: 40px;
    background: #191414;
    color: #1db954;

 
}

.content__body {
    padding: 10px;
    height: 80px;
}
 
.content__footer {
    border-top: 1px solid #1db954;
    height: 40px;
    line-height: 40px;

}
@media (min-width: 1024px) {
    .responsive-container__modal__dialog {
        width: 400px;
    }
}
@media (max-width: 1024px) {
    .responsive-container__modal__dialog {
        width: calc(100% - 10px);
    }
}

.responsive-container__modal__dialog__content{
    background-color: #191414;
    
} 
.content__header__button{
        color: #1db954;

}

.responsive-container__modal__dialog__content{
    background-color: #1db954;
    height: 140px;
}
    /* button {
        float: right;
        width: 100px;
        height: 30px;
        background: black;
        color: #fff;
        border: none;
        outline: none;
        outline-style: none;
        margin: 5px 0px;
    }

    button:hover {
        color: rgba(245, 122, 163, 0.8);
    }

    button:first-child {
        margin-left: 10px;
        margin-right: 5px;
    }
}

@media (max-width: 1024px) {
    .responsive-container__modal__dialog {
        width: calc(100% - 10px);
    }
}

@media (min-width: 1024px) {
    .responsive-container__modal__dialog {
        width: 400px;
    }
}

.content__header{
    background-color: #1db954;
    color:#191414;
}

.responsive-container__modal__dialog__content{
    background-color: #191414;
} */

.single-Event {
    background-color: #1db954;
} 

.newEventForm{
    background-color: #191414;
    height: 100px;
    display: block;

}

.example{
    background-color: #191414;

}

